* {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}
body {
  font-family: 'Corben', cursive;
  background-color: #00897B;
}


/*Navbar*/
nav {
  margin: 0;
  border: none;
  background-color: #00897B;
  z-index: 1000;
  align-content: center;
}
nav li a {
  color: #FFF3E0;
}
nav li a:hover{
  color: #80CBC4;
}
.logo {
  width: 14em;
  margin-right: 21em;
}

/*boton ir arriba*/
.ir-arriba {
  display: none;
  padding: 20px;
  background: #80CBC4;
  font-size: 24px;
  font-weight: bolder;
  color: #00897B;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
  border-radius: 50%;
}

/*Seccion home*/

#welcome{
  width: 100%;
  height: 100vh;
  background-color: ;
  background-image: url(../img/tumblr_occujlvMQE1qze3hdo1_r2_500.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

#messenger {
  color: #FFF3E0;
  font-family: 'Coming Soon', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 53px;
  font-weight: bolder;
  white-space: nowrap;
  text-shadow: 0 2px 2px rgba(#000, 0.9);
}

/*Seccion about*/
#about {
background-color: #FFF3E0;
width: 100%;
height: 100vh;
font-size: 22px;
text-align: center;
}


.portrait img{
  width: 14em;
  height: 14em;
  margin-top: 1em;
  border: 4px solid #00897B;
}


.t1 {
  color: #00897B;
  font-weight: bold;
  font-family: 'Coming Soon', cursive;
}
.sobreMi {
  margin-left: 14em;
}

/*seccion skills*/
#skills {
  height: auto;
  background-color: #00897B;
}
.t2 {
  color: #FFF3E0;
  font-weight: bolder;
  font-family: 'Coming Soon', cursive;
}
i {
  font-size: 9em;
  color: #80CBC4;
}
a {
  color: #000;
  text-decoration: none;
}
.icontact {
  font-size: 5em;
}

.html5:hover {
  cursor: pointer;
}
.css3:hover {
  cursor: pointer;
}
.jq:hover {
  cursor: pointer;
}
.js:hover {
  cursor: pointer;
}
.git:hover {
  cursor: pointer;
}
.boot:hover {
  cursor: pointer;
}

/*seccion works*/
#works {
  height: auto;
  background-color: #FFF3E0;
}
.t3 {
  color: #00897B;
  font-weight: bolder;
  font-family: 'Coming Soon', cursive;
}
.card .card-image .card-title {
  color: #00897B;
}

/*seccion contacto*/
#contact {
  background-color: #00897B;
}
.t4 {
  color: #FFF3E0;
  font-weight: bolder;
  font-family: 'Coming Soon', cursive;
}
.link,
.email,
.github {
  color: #80CBC4;
}

/*footer*/
footer {
  background-color: #00897B;
  color: #FFF3E0;
}
h5 {
  margin-top: 0;
  margin-bottom: 0;
}



/*medias query*/
@media (max-width: 750px) {
  #messenger {
    font-size: 27px;
  }
  .logo {
    width: 13em;
    margin-right: -2em;
  }
  .portrait {
    width: 12.5em;
    height: 12.5em;
    margin: 12px;
  }
  .icons {
    margin-bottom: 3em;
  }
  i {
    font-size: 6em;
  }
  h5 {
    font-size: 19px;
  }
  .grid li {
    max-width: 100%;
  }
}

/* CaptionHoverEffects CSS */
.grid {
  /* padding: 20px 20px 100px 20px;*/ 
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.grid li {
  display: inline-block;
  width: 440px;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}

/* figcaption con posición absoluta */
.grid figure {
  margin: 2em 0;
  position: relative;
}

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  background: #80CBC4;
  color: #FFF3E0;
}

.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #00897B;
  font-weight: bolder;
}
/*
.grid figcaption span:before {
  content: 'by ';
} */

.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #FFF3E0;
  color: #00897B;
}

/* Caption Style 6 */
.cs-style-6 figure img {
  z-index: 10;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.no-touch .cs-style-6 figure:hover img,
.cs-style-6 figure.cs-hover img {
  -webkit-transform: translateY(-50px) scale(0.5);
  -moz-transform: translateY(-50px) scale(0.5);
  -ms-transform: translateY(-50px) scale(0.5);
  transform: translateY(-50px) scale(0.5);
}

.cs-style-6 figcaption {
  height: 100%;
  width: 100%;
}

.cs-style-6 figcaption h3 {
  margin-top: 60%;
}

.cs-style-6 figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}


/* -- CaptionHoverEffects CSS -- */



/*PALETA DE COLOR*/
#eeefe2;
#306f8e;
#ebced7;
#b3d0e1;
#cbdce1;
#6d98bf;
#a2a6c1;
#e6b5cb;
#c7b2ca;


#00897B;
#FFF3E0;
#80CBC4;